<!DOCTYPE html>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<style>


</style>


<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" style="font-family: Raleway; color: #F64C72; font-size: 30px; text-rendering: optimizeLegibility; text-transform: uppercase; letter-spacing: .15em; text-shadow: 2px 2px #553D67;">Anime Nation</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="">Action/Adventure</a>
        <a class="mdl-navigation__link" href="">Comedy</a>
        <a class="mdl-navigation__link" href="">Psychological Horror/Thriller</a>
        <a class="mdl-navigation__link" href="">Sports</a>
        <a class="mdl-navigation__link" href="">Fantasy/Magic</a>
        <!-- Accent-colored raised button with ripple -->
        <a button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" class="mdl-navigation__link" href="/login">Login
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title" style="font-weight: bold;">Anime Nation</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="">Action/Adventure</a>
      <a class="mdl-navigation__link" href="">Comedy</a>
      <a class="mdl-navigation__link" href="">Psychological Horror/Thriller</a>
      <a class="mdl-navigation__link" href="">Sports</a>
      <a class="mdl-navigation__link" href="">Fantasy/Magic</a>
      <a class="mdl-navigation__link" href="/login">Login</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->
<body>
	  <h1 style="text-align: center; font-family: Raleway; font-size: 30px;
  color: #05386B; text-rendering: optimizeLegibility; text-transform: uppercase; letter-spacing: .15em; text-shadow: 2px 2px white;">Edit Show</h1>

	<form action="{{ url_for('editAnimeShow', genre_id = genre_id, animeshow_id = animeshow_id) }}" method = 'POST'>

		<p>Name:</p>
		<input type='text' size='30' name = 'name' placeholder = '{{item.name}}'>
		<p>Year:</p>
    	<input type='text' size='4' name = 'year'placeholder = '{{item.year}}'>
    	<p>Description:</p>
    	<input type='text' size='80' name = 'description'>

		<input type= 'submit' value='Edit'>
		<a href= '{{url_for('animeCatalog', genre_id = item.genre_id)}}'>Cancel</a>

	</form>

</body>
    </div>
  </main>
</div>
</html>