{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ game.name }}
			<figure class="creator">
				
				<figcaption>Created by: {{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editGame', game_id = game.id )}}">
				<!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Edit Game
</button>
			</a>
			<a href="{{url_for('newGameItem', game_id = game.id )}}">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Add Game Item
</button>
			</a>
						<a href="{{url_for('deleteGame', game_id = game.id )}}">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Delete Game
</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">			
				<h2 style="font-family: Raleway; color: #F64C72; font-size: 30px; text-rendering: optimizeLegibility; text-transform: uppercase; letter-spacing: .15em;">Game Items</h2>
					{% for i in items %}
						<div class="menu-item" style="margin-right: -500px;">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="menu-price">{{i.price}}</p>
							<a href='{{url_for('editGameItem', game_id = game.id, gameitem_id=i.id ) }}'>Edit</a> | 
							<a href='{{url_for('deleteGameItem', game_id = game.id, gameitem_id=i.id ) }}'>Delete</a>
						</div>
					
					{% endfor %}
			</div>
			
		</div>
	{% endif %}
{% endblock %}
